<a href="https://colab.research.google.com/github/murillocosta/python/blob/main/Conceitos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Operadores Aritméticos (Exercícios)

In [10]:
# x = 15 - 5 + 3²
x = 15 - 5 + (3**2)
print(x)

19

In [11]:
# y = 20 + 5 / 7 ∗ 9
y = 20 + ((5/7) * 9)
print(y)

26.42857142857143

In [13]:
# z = 17 ∗ 3 − 4²/ 3
z = (17 * 3) - ((4**2)/3)
print(z)

45.666666666666664

# Tipos de variáveis

In [22]:
eu = 'Murillo de Alencar \n'
print(eu)

# função type
print(type(eu))

Murillo de Alencar

<class 'str'>

In [16]:
idade = 33
type(idade)

int

In [17]:
chocolate = 5.90
type(chocolate)

float

In [19]:
#@title Solução
x = 2022 - 1989
x

33

In [23]:
nome10 = eu * 10
print(nome10)

Murillo de Alencar
Murillo de Alencar
Murillo de Alencar
Murillo de Alencar
Murillo de Alencar
Murillo de Alencar
Murillo de Alencar
Murillo de Alencar
Murillo de Alencar
Murillo de Alencar

### Divisão sempre vai retornar FLOAT como resultado

In [25]:
# Converter float em int

preco = 3.50
preco = int(preco)
type(preco)

int

In [27]:
# converter int em float
numero = 3
numero = float(numero)
type(numero)

float

In [29]:
x = int(25 / 5)
x

5

In [31]:
# variáveis
x = 33
y = 33/3
z = 33.5

print('x: ', type(x))
print('y: ', type(y))
print('z: ', type(z))

x:  <class 'int'>
y:  <class 'float'>
z:  <class 'float'>

In [34]:
y = int(y)
z = int(z)
x = int(x)

print(x)
print(y)
print(z)

33
11
33

In [35]:
y = float(y)
z = float(z)
x = float(x)

print(x)
print(y)
print(z)

33.0
11.0
33.0